@font-face {
  font-family: 'EM';
  src: url('font/Vogue.ttf') format('truetype'), 
       url('font/Vogue.ttf') format('truetype');   
}

@font-face {
  font-family: 'IN';
  src: url('font/ClassicalDiary-Regular Demo.ttf') format('truetype'),
    url('font/ClassicalDiary-Regular Demo.ttf') format('truetype');
}