body{
  font-family: mont;
  margin: 0;
  padding: 0px;
  background-color: #04c34b;
}
.brand{
  
  height: 100px;
  width: 200px;
  background-position: top left;
}

header{
  background-color: black;
}

.navigation{
  font-family: mont;
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  font-size: 150%;
  background-color: #04c34b;
  padding: 15px;
}


a{
  
  color: white;
  text-decoration: none;
  
}

.navimg{
  
  height: 100%;
  width: 100%;
}

.ncont{
  display: flex;
   }
   


.con{
  
  margin: 10px 5px;
  padding: 0px;
  border-radius: 15px;
  background-color: lightblue;
  font-family: mont;
  
}

.conimg{
  height:240px;
  width: 240px;
  border-radius: 20px;
  
}



button{
  font-family: mon;
  margin: 10px;
  background-color: orange;
  color: ghostwhite;
  padding: 10px 50px 10px 50px;
  font-size: 25px;
  border-radius: 15px;
  border-style: none;
}


.product{
  font-family: mont;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.con:hover{
  background-color: rgb(134, 134, 134);
  color: white;
}

button:hover{
  background-color: ghostwhite;
  color:orange;
  
}



footer{
  
  font-family: mont;
  text-align: center;
  background-color: black;
  color: #04c34b;
  padding: 10px 10px 100px 10px;
  margin-bottom: 0px;
  font-size: 15px;
  
}

