#promo, #promo2{
  
  width: 100%;
  margin: 0px;
  padding: 0px;
  
}

.service-header{

  color: #04c34b;
  font-family: mont;
  text-align: center;
  font-size: 40px;
}

.services-inner-header{
  color: white;
  font-size: 20px;
  text-align: center;
}

.services-content{
  text-align: center;
  color: #04c34b;
  font-size: 15px;
  padding: 20px;

}

.services{
  text-align:center;
  background-color: transparent;
  padding: 10px;
  margin: 50px;
  border: 2px solid #04c34b;
  border-radius: 10px;
  font-family: mont;
}

p{

  text-align: center;
}

body{
  font-family: em;
  margin: 0;
  background-color: black;
}
.brand{
  
  height: 100px;
  width: 200px;
  background-position: top left;
}

header{
  background-color: black;
}

.navigation{
  font-family: em;
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  font-size: 150%;
  background-color: #04c34b;
  padding: 15px;
}


a{
  
  color: white;
  text-decoration: none;
  font-family: mont;
  
}

.navimg{
  
  height: 100%;
  width: 100%;
}

.ncont{
  display: flex;
   }
   




footer{
  
  text-decoration: none; 
  font-family: mont;
  text-align: center;
  background-color: black;
  color: #04c34b;
  padding: 10px 10px 100px 10px;
  margin-bottom: 0px;
  font-size: 10px;
  
}

body{
  
  margin: 0px;
  padding: 0px;
}

#iconx{
  font-size: 50px;
  color: #00ffea;
}

